@import url('https://fonts.googleapis.com/css?family=Arimo|Lobster&display=swap');
.body {
	font-family: 'Lobster', cursive;
}
.h1 {
	font-family: 'Arimo', sans-serif;
}
.h3 {
	font-family: 'Arimo', sans-serif;
}
.h4 {
	font-family: 'Arimo', sans-serif;
}